@model IEnumerable<TaskManagement.WebApp.Models.TaskList>

<h2>Task Lists</h2>

<table class="table">
    <thead>
        <tr>
            <th>Name</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var taskList in Model)
        {
            <tr>
                <td>@taskList.Name</td>
                <td>
                    <a href="@Url.Action("Edit", new { id = taskList.Id })" class="btn btn-primary">Edit</a>
                    <a href="@Url.Action("Delete", new { id = taskList.Id })" class="btn btn-danger">Delete</a>
                    <a href="@Url.Action("Index", "TaskItems", new { taskListId = taskList.Id })" class="btn btn-info">View Tasks</a>
                </td>
            </tr>
        }
    </tbody>
</table>

<a href="@Url.Action("Create")" class="btn btn-success">Create New List</a>
